.App {
  text-align: center;
}

.App-logo {
  width: 10%;
  height: 10%;
}

.StartScene {
  background-color: #C0DDD9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Title {
  font-family: 'Stymie';
  font-style: bold;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;

}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Arial';
  user-select: none;
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
}

.Banner {
  font-size: 20px;
  display: inline-block; /* Ensures the background color only spans the text */
  border: 1px solid black; /* Specify the border width */
  background-color: #AEDFEE;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  text-align: center;
  margin: 0;
}

.logo {
  width: 25%;
  height: 25%;
}

.themeWord {
  background-color: #AAE5F2;
}

.spangram {
  background-color: #EFC929;
}

.selected {
  background-color: #D8D8C5;
}